.section-inspire {
    background-color: $color-red;
    padding: 2rem 0;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
    // margin-top: -20vh;

    @include respond(tab-port) {
        padding: 1rem 0;
    }
}

.section-about {
    background-color: $color-primary;
    padding: 5rem 0;
    font-size: 3.5rem;
    // text-transform: capitalize;
    font-weight: 300;
    text-align: center;
    color: $color-red-light;
    // margin-top: -20vh;

    @include respond(tab-port) {
        padding: 2rem 0;
    }
}

.section-pricing {
    background-color: $color-red;
    padding: 5rem 0;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
    // margin-top: -20vh;

    @include respond(tab-port) {
        padding: 2rem 0;
    }

    &__list {
        list-style: none;
    }
}

.section-cert {
    background-color: $color-primary;
    padding: 2rem 0;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
    // margin-top: -20vh;

    @include respond(tab-port) {
        padding: 1rem 0;
    }

    &_photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.33333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1 {
            left: 0;
            top: -2rem; 

            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

.section-events {
    position: relative;
    padding: 7rem 0;

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}
}